{% extends 'base.html' %}
{% load static %}

{% block css%}
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
</style>
<link rel="stylesheet" type="text/css" href="{% static 'styl/login.css' %}">
{% endblock %}

{% block body_class %}login{% endblock %}

{% block body %}
<div class="wrapper" id="login-app">
  <div class="bunch">
    <div class="box box-login" v-bind:class="{ active: active == classes.login }" v-on:click="active = classes.login">
      <form method="post" v-on:submit="login($event)">
        <svg><use xlink:href="#luggage"/></svg>
        <h1>Log In</h1>
        <div class="input-group">
          <input type="text" @focus="active = classes.login" placeholder="Username" name="username" autocomplete="off" v-model="models.login.username">
        </div>
        <div class="input-group">
          <input type="password" @focus="active = classes.login" placeholder="Password" name="password" autocomplete="new-password" v-model="models.login.password">
        </div>
        <div>
          <button type="submit" class="btn">LOG IN</button>
        </div>
        <a href="#">Forgot password?</a>
      </form>
    </div>
    <div class="box box-signup" v-bind:class="{ active: active == classes.signup }" v-on:click="active = classes.signup">
      <svg><use xlink:href="#notebook" /></svg>
      <h1>Sign Up</h1>
      <form method="post">
        <div class="input-group">
          <input type="text" @focus="active = classes.signup" placeholder="DNI" name="dni" autocomplete="off">
        </div>
        <div class="input-group">
          <input type="text" @focus="active = classes.signup" placeholder="First name" name="first_name" autocomplete="off">
        </div>
        <div class="input-group">
          <input type="text" @focus="active = classes.signup" placeholder="Last name" name="last_name" autocomplete="off">
        </div>
        <div class="input-group">
          <input type="text" @focus="active = classes.signup" placeholder="Username" name="username" autocomplete="off">
        </div>
        <div class="input-group">
          <input type="password" @focus="active = classes.signup" placeholder="Password" name="password" autocomplete="new-password">
        </div>
        <div>
          <button type="submit" class="btn">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'accounts/js/loginApp.js' %}"></script>
{% endblock %}
