@import 'mixins/utils'
@import 'layout/theme2'

.login
    padding-top: $offset-lg
    background: $gray-1

    .link-signup
        color: $white

    .errorlist
        margin: 0
        padding: 0
        margin-top: -($offset-sm)
        color: $color-danger
        list-style-type: none

    button
        margin: $offset-md 0

    input
        border: none
        background: transparent
        font-size: $font-size-md
        padding: $offset-xs 0
        width: 100%
        &:focus
            outline-width: 0

    .wrapper
        height: 600px
        .bunch
            position: absolute
            text-align: center
            left: 0
            right: 0
            .box
                position:relative
                display:inline-block
                vertical-align: middle
                padding: $offset-xl
                z-index: 0

                &.active
                    z-index: 1

                .input-group
                    margin: $offset-xs 0

            .box-login
                color: $white
                width: 400px
                background: $color-primary
                height: 500px
                z-index: 1
                svg
                    margin-top: -100px
                input:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                }

                input
                    border-bottom: 1px solid $white
                    color: $white

                a
                    color: $white

                .btn
                    color: $white
                    background: darken($color-primary, 15)
                    &:hover, &:active, &:focus
                        background: darken($color-primary, 20)

                ::-webkit-input-placeholder
                    color: $white
                    opacity: 0.7
                :-moz-placeholder
                    color: $white
                    opacity: 0.7
                ::-moz-placeholder
                    color: $white
                    opacity: 0.7
                :-ms-input-placeholder
                    color: $white
                    opacity: 0.7

            .box-signup
                background: $white
                width: 600px
                height: 600px
                margin-left: -100px
                padding: $offset-xl 100px

                svg
                    position: absolute;
                    right: -150px;
                    top: 250px;
                    transform: rotate(23deg);

                input
                    border-bottom: 1px solid $color-1
                    color: $color-1

                .btn
                    color: $white
                    background: $color-success
                    &:hover, &:active, &:focus
                        background: darken($color-success, 5)
