{% extends 'base.html' %}
{% load static bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'theme-normal/registration/login.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="text-danger">{{ form.non_field_errors }}</div>
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'transactions:' %}">
    {% bootstrap_field form.username %}
    {% bootstrap_field form.password %}
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
{% endblock %}
