{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% static 'vendor/vue/dist/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/axios/dist/axios.min.js' %}"></script>
    <script type="text/javascript">
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length >= 2) return parts.pop().split(";").shift();
        }
        var csrfToken = getCookie('csrftoken');
        Vue.config.devtools = true;
        axios.defaults.headers.post['X-CSRFToken'] = csrfToken;
        axios.defaults.xsrfHeaderName = "X-CSRFToken";
        axios.defaults.xsrfCookieName = "X-CSRFToken";
    </script>
    {% block js %}{% endblock %}
    <div style="display: none;">{% include "icons.svg" %}</div>
</body>
</html>
