{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maki</title>
    <link rel="stylesheet" type="text/css" href="{% static 'theme-normal/extras/css/bootstrap.flatly.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
