$gray-1 = #f8f9f9
$gray-4 = #e4e7ea
$color-1 = rgb(127, 136, 147)

$color-primary = #0174ff
// $color-success = #00bf4f
$color-success = rgb(31, 178, 183)
$color-danger = #ea4335
$color-info = #00aeff

$blue-link = #0069ff;

$white = rgb(255, 255, 255)

$offset-xs = 10px
$offset-sm = 15px
$offset-md = 20px
$offset-lg = 25px
$offset-xl = 35px

$border-radius-xs = 4px;

$font-size-sm = 14px;
$font-size-md = 16px;


*
    box-sizing: border-box
    font-family: 'Poppins', sans-serif;
body
    color: $color-1
    margin: 0


// button
//     width: 100%

.btn
    cursor: pointer
    background: $gray-4
    outline: none
    padding: $offset-sm $offset-xl
    border: none
    box-shadow: none
    border-radius: $offset-xl
    font-size: $font-size-sm

    &:hover, &:active
        background: darken($gray-4, 5)
    &.btn-success
        background: $color-success
        color: $white
        &:hover, &:active
            background: darken($color-success, 5)
    &.btn-danger
        background: $color-danger
        color: $white
        &:hover, &:active
            background: darken($color-danger, 5)
    &.btn-info
        background: $color-info
        color: $white
        &:hover, &:active
            background: darken($color-info, 5)

a
    text-decoration: none
