$gray-1 = rgb(140, 153, 175)
$gray-4 = #e4e7ea
$color-1 = #46505F

$color-primary = #304ffe
$color-success = #00bf4f
$color-danger = #ea4335
$color-info = #00aeff

$blue-link = #0069ff;

$white = rgb(255, 255, 255)

$offset-xs = 10px
$offset-sm = 15px
$offset-md = 20px
$offset-lg = 25px

$border-radius-xs = 4px;


*
    box-sizing: border-box
    font-family: 'Poppins', sans-serif;
body
    color: $color-1


button
    width: 100%

.btn
    background: $gray-4
    outline: none
    padding: $offset-sm $offset-lg
    border: none
    box-shadow: none
    border-radius: $border-radius-xs
    line-height: 26px
    transition: background 0.3s
    transition: z-index 1s

    &:hover, &:active
        background: darken($gray-4, 5)
    &.btn-success
        background: $color-success
        color: $white
        &:hover, &:active
            background: darken($color-success, 5)
    &.btn-danger
        background: $color-danger
        color: $white
        &:hover, &:active
            background: darken($color-danger, 5)
    &.btn-info
        background: $color-info
        color: $white
        &:hover, &:active
            background: darken($color-info, 5)

a
    color: $color-primary
    text-decoration: none
